{% extends "base.html" %}

{% block content %}
<h1>Train Manual Controls</h1>

<form method="post" autocomplete="on">
	{% csrf_token %}
 	<label for="speed">Set Train Speed (between 0 and 100):</label>
  	<input type="number" id="speed" name="speed" min="0" max="100" style="margin-bottom: 10px;">
  	<br>
  	<label for='toggle_headlight'> Toggle Headlight
		<input class="form-check-input" type="checkbox" name="toggle_headlight" id="toggle_headlight" style="margin-bottom: 10px;">
	</label>
	<br>
	<label for="direction">Choose a Direction</label>
	<select name="direction" id="direction" style="margin-bottom: 10px;">
			<option disabled selected value> -- select an option -- </option>
			  <option value="1">Forward</option>
			  <option value="-1">Reverse</option>
			  <option value="0">No Direction</option>
	</select>
	<br>
  	<button type="submit" class="btn btn-primary btn-lg">Change Train Settings</button>
</form>

<hr>

<div id="train_values">
	<h3>Train Speed: {{speed}}</h3>
	<br>
	<h3>Train Headlight: {{headlight}}</h3>
</div>

{% endblock %}

{% block page_scripts %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script type='text/javascript'>
	$( document ).ready(function() {
    	setInterval(function(){
	        // Fetch the values form the backend
	        $("#train_values").load(" #train_values");
        }, 2000);
    });
</script>
{% endblock %}